<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>307012683282-n0a8qconhnh83ifjejgdikhqt0iiam4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307012683282-n0a8qconhnh83ifjejgdikhqt0iiam4d</string>
	<key>API_KEY</key>
	<string>AIzaSyD3c6VjuEkhbQ0r4DxDLj8d0-e2CB0qM6A</string>
	<key>GCM_SENDER_ID</key>
	<string>307012683282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sagar.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-41723</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-41723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307012683282:ios:1f6b6b2b6760775a</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-41723.firebaseio.com</string>
</dict>
</plist>